<h1>Ritly#random_generated_code</h1>
<p>Find me in app/views/ritly/random_generated_code.html.erb</p>

<div>
	
	<div>Your link: <%= @link.link %> </div><br>
	<div>Link code: <%=@link.random_string%></a></div>
	<div><a href="http://localhost:3000/<%=@link.random_string%>">Click here to visit site, or copy the address and paste it into your address bar</a>

</div>